# Development dependencies
-r requirements.txt

# Code Quality
black==24.1.1
isort==5.13.2
flake8==7.0.0
mypy==1.8.0
pylint-django==2.5.5
pre-commit==3.6.0

# Testing
pytest==8.0.0
pytest-django==4.8.0
pytest-cov==4.1.0
pytest-xdist==3.5.0
pytest-sugar==0.9.7
model-bakery==1.17.0

# Debugging
ipython==8.21.0
ipdb==0.13.13
django-extensions==3.2.3
Werkzeug==3.0.1

# Documentation
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
myst-parser==2.0.0